.jumbotron {
  padding-top: 5rem;
  background-color: #e7be90;
}

#tutorial {
  background-color: #e7be90;
}

section {
  padding-top: 5rem;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
